/venv/
/.idea/
/python/PyMySQL-1.0.2.dist-info/
/python/pymysql/
/python/certifi/
/python/charset_normalizer/
/python/idna/
/python/requests/
/python/requests_toolbelt/
/python/urllib3/
WHEEL
INSTALLER
RECORD
top_level.txt
REQUESTED
normalizer.exe
METADATA
LICENSE.*
LICENSE
AUTHORS.rst
entry_points.txt

