venv/
PyMySQL-1.0.2.dist-info/
pymysql/
certifi/
charset_normalizer/
idna/
requests/
requests_toolbelt/
urllib3/
WHEEL
INSTALLER
RECORD
top_level.txt
REQUESTED
normalizer.exe
METADATA
LICENSE.*
LICENSE
AUTHORS.rst
entry_points.txt
.idea/
doc/
site.webmanifest
.editorconfig
.gitattributes
.gitignore
